.top-container
{
  background-color: #2B4162;
}
body
{
  margin: 0px;
  font-family: monospace;
}
h1
{
  margin: 0;
  text-align: center;
  font-size: 4.375em;
  color: yellow;
  padding-top: 10px;
  font-weight: 300%;
}
h2
{
  margin: 0;
  text-align: center;
  font-size: 2.375em;
  color: yellow;
  padding-top: 10px;
  font-weight: 200%;
}
img
{
    padding-top: 30px;
}
.description
{
    background-color: #1B477A;
}
p
{
    width: 60%;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    color: yellow;
    font-weight: bolder;
    font-size: 40px;
}
.input
{
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    font-family: monospace;
    font-size: 20px;
}
#btn 
{
    background-color: #424242;
    border-radius: 10px;
    color: white;
    font-family: monospace;
    padding: 15px 32px;
    margin-top: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 40px;
  }
  .footer
  {
      background-color: #ffd54f;
  }
.lbl
{
    font-family: monospace;
    font-size: 14px;
    font-weight: bold;
}